:root {
    --accent: #2F0C7A;
    --marked: #2F0C7A;
    --markedfg: var(--accent-text);
    --bannerfg: #ffc400;
    --bannerbg: #212121;
    --accentbgdark: #e2e7fd;
    --headerbg: rgba(255, 255, 255, .65);
    --headerblend: lighten;
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent: #858AFA;
        --marked: #858AFA;
        --accentbgdark: #161616;
        --headerbg: rgba(0, 0, 0, .65);
        --headerblend: darken;
    }
}

html,
body {
    height: 100%;
    width: 100%;
}

mark {
    color: var(--markedfg);
}

banner {
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: var(--standard-border-radius);
    display: none;
    background-color: var(--bannerfg);
    color: var(--bannerbg);
}

body {
    display: grid;
    grid-template-rows: 18vh 20vh calc(100% - 41vh) 3vh;
    grid-template-columns: 100%;
    overflow: hidden;
}

figure audio {
    width: 100%;
}

#topBarBox {
    grid-row: 1;
    grid-column: 1;
    background-color: var(--accent-bg);
    display: grid;
    grid-template-columns: 18vh auto;
    grid-template-rows: 100%;
}

#topBarBox #topBarImage {
    height: 15vh;
    justify-self: center;
    align-self: center;
}

#topBarBox #topBarText {
    justify-self: left;
    align-self: center;
}

#pageFooter {
    background-color: var(--accent-bg);
    grid-row: 4;
    grid-column: 1;
    font-weight: lighter;
    text-align: right;
    padding-right: 1vw;
    line-height: 3vh;
    font-size: 1.5vh;
}