:root {
    --accent: #2F0C7A;
    --marked: #2F0C7A;
    --markedfg: var(--accent-text);
    --headerbg: rgba(255, 255, 255, .65);
    --headerblend: lighten;
}

@media (prefers-color-scheme: dark) {
    :root {
        --accent: #858AFA;
        --marked: #858AFA;
        --headerbg: rgba(0, 0, 0, .65);
        --headerblend: darken;
    }
}

mark {
    color: var(--markedfg);
}