#urlInputForm {
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
    align-self: center;
}

#explainerText {
    grid-row: 3;
    grid-column: 1;
    align-self: start;
    justify-self: center;
    width: 90%;
    max-width: 50rem;
    overflow-y: auto;
    height: 100%;
}