html,
body {
    height: 100%;
    width: 100%;
}

body {
    display: grid;
    grid-template-rows: 18vh 20vh calc(100% - 41vh) 3vh;
    grid-template-columns: 100%;
    overflow: hidden;
}

#topBarBox {
    grid-row: 1;
    grid-column: 1;
    background-color: var(--accent-bg);
    display: grid;
    grid-template-columns: 18vh auto;
    grid-template-rows: 100%;
}

#topBarBox>#topBarImage {
    height: 15vh;
    justify-self: center;
    align-self: center;
}

#topBarBox>#topBarText {
    justify-self: left;
    align-self: center;
}

#urlInputForm {
    grid-row: 2;
    grid-column: 1;
    justify-self: center;
    align-self: center;
}

#explainerText {
    grid-row: 3;
    grid-column: 1;
    align-self: start;
    justify-self: center;
    width: 90%;
    max-width: 50rem;
    overflow-y: auto;
    height: 100%;
}

#pageFooter {
    background-color: var(--accent-bg);
    grid-row: 4;
    grid-column: 1;
    font-weight: lighter;
    text-align: right;
    padding-right: 1vw;
    line-height: 3vh;
    font-size: 1.5vh;
}