section {
    margin: unset;
    padding: unset;
    border-color: var(--accent-bg);
}

section:hover {
    background-color: var(--accent-bg);
    /*TODO: Add buttons that link directly to the post and show them when hovering over the post*/
}