body {
    grid-template-rows: 5vh calc(100% - 8vh) 3vh;
    background-color: var(--accentbgdark);
}

#topBarBox {
    grid-template-columns: 5vh auto;
}

#topbarMainPageButton {
    display: contents;
    color: var(--text);
}

#topBarBox #topBarImage {
    height: 4vh;
    align-self: center;
    justify-self: center;
}

#topBarBox #topBarText {
    font-size: 1.5rem;
}

.mainBody {
    background-color: var(--bg);
    grid-row: 2;
    grid-column: 1;
    overflow-y: auto;
    justify-self: center;
    padding: 5vh;
    max-width: 50rem;
    width: 100%;
}

.spinnerContainer {
    height: 100%;
    width: 100%;
    display: grid;
}

.spinnerContainer>.lds-grid {
    align-self: center;
    justify-self: center;
    zoom: 1.5;
}

section {
    margin: unset;
    padding: unset;
    border-color: var(--accent-bg);
    border-radius: 2vh;
    margin-bottom: 1vh;
}

section+section,
section:first-child {
    border-top: 1px solid var(--accent-bg);
}

section:hover {
    background-color: var(--accent-bg);
}

.userHeader {
    height: 15vh;
    background-color: var(--headerbg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: var(--headerblend);
    border-radius: 2vh;
    margin-bottom: 3vh;
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 15vh auto;
}

.userHeader>.userName {
    grid-row: 1;
    grid-column: 2;
    align-self: center;
}

.userHeader>.userName>.userIsBot {
    margin-left: 1vw;
}

.userHeader>.userImage {
    grid-row: 1 / 3;
    grid-column: 1;
    margin: 2vh;
    border-radius: 2vh;
    height: calc(100% - 4vh);
}

.userHeader>.threadInfo {
    grid-row: 2;
    grid-column: 2;
    align-self: end;
    margin-bottom: 1vh;
    text-wrap: balance;
}

#pageFooter {
    grid-row: 3;
}